.card {
  background: #fff;
  height: 30%;
  position: relative;
  width: 30%;
  height: 30%;
  min-width: 150px;
  max-width: 300px;
  margin-bottom: 20px;
  margin-right: 5px;
  -webkit-box-shadow: 7px 7px 5px 1px rgba(222,222,222,1);
  -moz-box-shadow: 7px 7px 5px 1px rgba(222,222,222,1);
  box-shadow: 7px 7px 5px 1px rgba(222,222,222,1);
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  background:rgb(184, 255, 219);
}


#img {
  max-width: 300px;
  max-height: 300px;
}

.card:hover {
  box-shadow: 8px 8px 20px rgb(64, 97, 84);
  transform: scale(1.02);
  cursor: pointer;
}

.card:active {
  transform: translate(.5px, .5px);
}


