.navbar-default {
  width: 100%;
  margin-bottom: 50px;
  height: 105px;
  background: hsl(29, 100%, 85%);
}

h3 {
  color: #009c6d;
  font-size: 58px;
  font-weight: 600;
  font-family: "chantal",sans-serif;
}


li {
  display: inline-block;
  padding: 5px 0;
  width: 33%;
  text-align: center;
}

.score {
  justify-content: left;
  color: #000000;
  font-size: 22px;
  font-family: "gooddog-new",sans-serif;
  font-weight: 500;
}

ul {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 750px) {
  #currentScore, #topScore {
    font-size: 2rem;
  }
}